<%- include('../partials/header') %>

<div class="cv-content">
    <h2>Loisirs</h2>

    <% if (loisirs.length > 0) { %>
        <ul class="loisirs-list">
            <% loisirs.forEach(loisir => { %>
                <li><%= loisir %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>Aucun loisir enregistr&eacute;.</p>
    <% } %>
</div>

<%- include('../partials/footer') %>
